<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>中国云教学联盟</title>
    @Styles.Render("~/Scripts/layui/css/layui.css", "~/Content/css/font-awesome.min.css", "~/Content/reset.css", "~/Content/app.css", "~/Content/css/iconfont.css")
    @Scripts.Render("~/Scripts/js/jquery.min.js","~/Scripts/pownlib.js","~/Scripts/app.js")
</head>
@RenderBody()