<div class="left f-l">
    <a href="~/home/pageone1">全部文件</a>
    <a href="~/home/pageone1?type=2" style="text-indent: 30px;">文档</a>
    <a href="~/home/picture" style="text-indent: 30px;">图片</a>
    <a href="~/home/pageone1?type=0" style="text-indent: 30px;">其他</a>
    @*<a href="javascript:;">分享</a>*@
    <a href="~/home/myshare">我的分享</a>
    <a href="~/home/myshare?category=receive">我接收的文件</a>
    <a href="~/home/recovery">回收站</a>
    
</div>